.dropShadow50 {
    max-width: 100% !important;
}

#regionHeader {
    max-width: 100% !important;
}

#playerwrapper {
    max-width: 100% !important;
}

#mePlayerHolder {
    max-width: 100% !important;
}

.article {
    max-width: 100% !important;
}
